@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: green;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins';

    
}
.container {
    width: 400px;
    height: 450px;
    background: white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}
.container h1 {
    text-align: center;
    padding-top: 20px;
    
}
.container p {
    text-align: center;
    padding-top: 20px;
    color: #1a1a1a;
}
.container form {
    padding: 0 40px;
}
form .form_control {
    position: relative;
    margin: 40px 0;
}
.form_control input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    background: none;
    outline: none;
    border-radius: 5px;
}
button {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 336px;
    cursor: pointer;
    

}
button:hover {
    background: rgb(68, 248, 143);
}
.container p {
    color: #a69f9f;
}
